<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/socket.io.js"></script>
		<script src="/javascripts/jquery-1.8.3.min.js"></script>
		<script src="/javascripts/chat.js"></script>
		<script src="/javascripts/login.js"></script>
		<script src="/javascripts/underscore.js"></script>

		<style type="text/css">
			.chatting {
				display: none;
			}
		</style>

		<script type="text/javascript">

			var login = null;

			$(document).ready(function() {
				login = new Login({
					usernameInput: '#usernameInput',
					loginForm: '#login',
					logout: '#logout'
				});
			});

		</script>

		<!-- This uses the express middleware
		<link rel="stylesheet" type="text/css" href="/less/layout.css" />
		<link rel="stylesheet" type="text/css" href="/less/chat.css" />
		<link rel="stylesheet" type="text/css" href="/less/bootstrap/bootstrap.css" />
			-->

		<!-- This uses livereload -->
		<link rel="stylesheet" type="text/css" href="/less/bootstrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css" />

  </head>
  <body>
	<div id="layout">
		<div id="header"></div>

		<div id="main">
			<div id="left-sidebar"></div>
			<div id="right">
				<div id="right-sidebar"></div>
			</div>

			<!-- ----- CONTENT ----- -->
			<div id="content">
				<div id="content-head">
					<h1><%= title %></h1>
					<p>Welcome to <%= title %>&nbsp;<a id="logout" class="chatting" href="#">log out</a></p>
				</div>

				<div id="content-body">

					<!-- Hidden: Login -->
					<div id="chat-room" class="chatting">
						<div class="chat-box">
							<ul></ul><!-- messages go in here -->
						</div>
					</div>

					<!-- Shown: Login -->
					<div class="login">
						<form id="login">
							<div id="enterUsernameBox">
								<span>Enter your username:</span>
								<input type="text" id="usernameInput" />
								<input type="text" id="roomName" value="default" />
								<input type="submit" class="btn btn-primary" />
							</div>
							<div id="enterUsernameErrorBox">&nbsp;</div>
						</form>
					</div>
				</div>

				<div id="content-foot">
					<div class="chatting">
						<form id="message-entry-form">
							<input type="text" id="message-entry" class="user-input" autocomplete="off"/>
							<input type="submit" id="message-entry-submit" />
						</form>
					</div>
				</div>
			</div> <!-- ~~~~~ CONTENT ~~~~~ -->

		</div> <!-- main -->
	</div> <!-- layout -->
  </body>
</html>
