#board {
  position: absolute;
  top: 10px;
  left: 10px;
}
#board > div {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ccc;
}
#topLeft {
  left: 0px;
  top: 0px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
#topMiddle {
  left: 75px;
  top: 0px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
#topRight {
  left: 150px;
  top: 0px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
#centerLeft {
  left: 0px;
  top: 75px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
#centerMiddle {
  left: 75px;
  top: 75px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
#centerRight {
  left: 150px;
  top: 75px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#bottomLeft {
  left: 0px;
  top: 150px;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
#bottomMiddle {
  left: 75px;
  top: 150px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
#bottomRight {
  left: 150px;
  top: 150px;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
#messageArea {
  position: absolute;
  left: 10px;
  top: 240px;
}
#errorArea {
  position: absolute;
  left: 10px;
  top: 270px;
  color: red;
}
#backToChat {
  position: absolute;
  left: 10px;
  top: 290px;
  display: none;
}
.circle {
  font-size: 60px;
  position: absolute;
  margin-top: 25px;
  margin-left: 12px;
}
.cross {
  font-size: 60px;
  margin-top: 25px;
  margin-left: 12px;
}
